  <h1 class="text-center mb-4">Medios de Pago</h1>

  <h3 class="text-center">Paga como quieras, sacar notas altas nunca fue tan sencillo y seguro.</h3>


  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="img/pay1.png" class="card-img-top" alt="...">
      </div>
      <div class="col-md-4">
        <img src="img/pay2.png" class="card-img-top" alt="...">
      </div>
      <div class="col-md-4">
        <img src="img/pay3.png" class="card-img-top" alt="...">
      </div>
    </div>
  </div>


